<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>scare - cmds</title>
        <link rel="icon" href="{{avatar}}">
        <meta name="og:site_name" content="scare.life">
        <meta name="og:title" content="scare - commands">
        <meta name="og:description" content="check scare bot's commands">
        <meta name="theme-color" content="#010101">
        <script src='/static/6jiu.js'></script>
        <script src="/static/pure-snow.js" defer=""></script>
    </head>
    <body>
        <div id="snow" data-count="20"></div>
        <header>
            <div class="title">
                <h1>scare.life</h1>
                <h3>commands</h3>
            </div>
            <div class="search">
                <input type="text" oninput="filter()" placeholder="Search for command">
            </div>
        </header>
        <div class="container">
            <div class="top">
                <button class="arrow" onclick="change('left')">
                    <img src="/static/left-arrow.png">
                </button>
                <div class="buttons">
                    <button onclick="display('all')">
                          <h3>all <span>{{all}}</span></h3>
                    </button>
                    {% for category, content in commands.items() %}
                        <button onclick="display('{{category}}')">
                            <h3>{{category}} <span>{{content['count']}}</span></h3>
                        </button>
                    {% endfor %}
                </div>
                <button class="arrow" onclick="change('right')">
                    <img src="/static/right-arrow.png">
                </button>
            </div>
            <div class="command-list">
               {% for category, content in commands.items() %}
                  {% for cmd in content['commands'] %}
                       <div class="command-border" id="{{category}}">
                            <div class="command-top">
                                <h1>{{cmd['name']}}</h1>
                                <div>
                                    <button onclick="copytext(`{{cmd['name']}}`)">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"></path></svg>
                                    </button>
                                </div>
                            </div>
                           <p>{{cmd['description']}}</p>
                       </div> 
                   {% endfor %}
               {% endfor %} 
            </div>
        </div>
    </body>
    <script src="/static/commands.js"></script>
</html>