<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>scare.life</title>
        <link rel="icon" href="{{avatar}}">
        <meta name="og:site_name" content="scare.life">
        <meta name="og:image" content="{{avatar}}">
        <meta name="og:title" content="scare">
        <meta name="og:url" content="https://scare.life">
        <meta name="og:description" content="newest multi purpose discord bot">
        <meta name="theme-color" content="#010101">
        <script src="/static/7ghy.js"></script>
        <script src="/static/pure-snow.js" defer=""></script>
    </head>
    <body>
        <div id="snow" data-count="10"></div>
        <section class="main">
            <div class="container">
                <h1>scare.life</h1>
                <p id="description">loved by <span>{{guilds}}</span> servers & <span>{{members}}</span> members</p>
            </div>
            <div class="links">
                <a href="/discord">
                    <p>disc</p>
                </a>
                <a href="https://scare.life/invite">
                    <p>invite</p>
                </a>
                <a href="https://docs.scare.life">
                    <p>docs</p>
                </a>
                <a href="/commands">
                    <p>cmds</p>
                </a>
            </div>
        </section>
    </body>
    <script src="/static/idx.js"></script>
</html>