<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0>">
        <title>scare - terms</title>
        <link rel="icon" href="{{avatar}}">
        <meta name="og:site_name" content="scare.life">
        <meta name="og:image" content="{{avatar}}">
        <meta name="og:title" content="scare - privacy">
        <meta name="og:url" content="https://scare.life/privacy">
        <meta name="og:description" content="View the scare bot's Privacy Policy">
        <meta name="theme-color" content="#010101">
        <script src="/static/legal.js"></script>
        <script src="/static/pure-snow.js"></script>
    </head>
    <body>
        <div id="snow" data-count="50"></div>
        <header>
            <h1>scare.life</h1>
            <h3>privacy</h3>
        </header>
        <section>
            <h1>Privacy Policy</h1>
            <h2>Introduction</h2>
            <p>This Privacy Policy explains how Scare Bot ("we", "our", or "us") collects, uses, and discloses information about you when you use our multipurpose Discord bot (the "Bot"). By using the Bot, you agree to the collection and use of information in accordance with this policy.</p>
            <h2>Description of Service</h2>
            <p>Scare Bot is a multipurpose Discord bot designed to provide a variety of features, including moderation tools, entertainment options, utility commands, and more. The Bot interacts with users on Discord servers where it is installed and activated.</p>
            <h2>Information We Collect</h2>
            <p>We may collect the following types of information when you interact with the Bot:</p>
            <ul>
                <p><span>Discord User ID:</span> A unique identifier for each user.</p>
                <p><span>Server Information:</span> Information about the Discord server where the Bot is installed, including server ID & channel ids</p>
                <p><span>Commands Issued:</span> Logs of commands you issue to the Bot.</p>
                <p><span>Deleted & Edited messages:</span> Messages that are stored for 2 hours for snipe and editsnipe commands' functionality</p>
            </ul>
            <h2>How We Use Your Information</h2>
            <p>We use the information we collect for the following purposes:</p>
            <ul>
                <p><span>To Provide and Improve the Bot:</span> Ensuring the Bot functions as intended and improving its features.</p>
                <p><span>To Ensure Security:</span> Protecting the Bot and its users from abuse, spam, and unauthorized access.</p>
                <p><span>To Personalize User Experience:</span> Customizing interactions based on user preferences and past usage.</p>
            </ul>
            <h2>Data Sharing and Disclosure</h2>
            <p>We do not sell, trade, or otherwise transfer your personal information to outside parties. However, we may share information in the following situations:</p>
            <ul>
                <p><span>With Your Consent:</span> When we have your consent to do so.</p>
                <p><span>For legal reasons:</span> If required by law or in response to a valid legal process.</p>
                <p><span>To Protect Rights and Safety</span> When necessary to protect the rights, property, or safety of our users or others.</p>
            </ul>
            <h2>Data Security</h2>
            <p>We implement a variety of security measures to maintain the safety of your personal information. However, no method of transmission over the Internet or method of electronic storage is 100% secure, and we cannot guarantee absolute security.</p>
            <h2>Data Retention</h2>
            <p>We retain your information only for as long as necessary to fulfill the purposes for which it was collected or to comply with legal obligations. Data may be anonymized and aggregated for analytical purposes beyond the retention period.</p>
            <h2>Changes to This Privacy Policy</h2>
            <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Bot’s information page. Your continued use of the Bot after such changes constitutes your acceptance of the new Privacy Policy.</p>
            <h2>Contact Us</h2>
            <p>If you have any questions or concerns about this Privacy Policy, please contact us at <span>info@scare.life</span></p>
        </section>
        <footer>
            <p>By using Scare Bot, you acknowledge that you have read and understood this Privacy Policy.</p>
        </footer>
    </body>
</html>